/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #020617;
    font-family: sans-serif;
}

button {
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #1e293b;
    transition: all .3s ease;
}

button:hover {
    background-color: #0099ff;
}

@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: .5s;
}

::view-transition-old(root) {
    animation: slide-out 0.5s forwards;
}

::view-transition-new(root) {
    animation: slide-in 0.5s forwards;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}



