.container {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: whitesmoke;
}

.quiz {
    /* display: none; */
    padding: 2rem;
    text-align: center;
}

.quiz.active {
    display: block;
}

/* START SCREEN */

#start-screen h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #e86a33;
}

.quiz-header {
    margin-bottom: 2rem;
}

#question-text {
    color: #333;
}